body {
    background-color: #EAF6F6;
}
h1 {
    color: #79DAE8;
}
h3 {
    color: #79DAE8;
}
h4 {
    color: #79DAE8;
}
hr {
    border-style: dotted;
    border-bottom: none;
    border-width: 5px;
    width: 5%;
}
p {
    color: #FF87CA;
}
a:hover {
    color: #9DD6DF;
}